
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #f8f8f8;
  }
  
  
  /* .container {
    max-width: 600px;
    margin: 20px auto;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    display: flex; 
    flex-direction: column; 
    align-items: center; 
  } */
  
 
  h1 {
    text-align: center;
    margin-bottom: 30px;
    color: #333;
  }
  

  label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
    color: #555;
  }
  
 
  input[type="text"],
  input[type="number"],
  input[type="date"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  input[type="submit"] {
    display: block;
    width: 50%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #23d762;
    color: #000000;
    font-weight: bold;
    cursor: pointer;
  }
  


/* .bill-container {
    margin-top: 40px;
    background-color: #f8f8f8;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 20px;
  } */
  
  .container h3 {
    font-size: 20px;
    margin-bottom: 15px;
    color: #333;
  }
  
  .bill-container p {
    font-size: 16px;
    margin: 5px 0;
    color: #000000;
  }
  
  



  /* Style for the bill container */
  .bill-container {
   
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    margin: 0 auto;
    margin-top: 20px;
  }

  /* Style for headings */
  .bill-container b {
    font-weight: bold;
  }

  /* Style for individual items in the bill */
  .bill-container p {
    margin-bottom: 5px;
  }

  /* Style for total amount after taxes */
  .bill-container p:last-child {
    color: #000000;
    font-size: 20px;
    margin-top: 10px;
    border-top: 1px solid #ccc;
    padding-top: 10px;
  }

  /* Style for total amount */
  .bill-container p:first-child {
    font-size: 18px;
    color: #000000;
    margin-bottom: 15px;
  }
  

